{
    "branches": [
        "main"
    ],
    "repositoryUrl": "https://github.com/RedFroggy/keycloak-event-listener-sns",
    "plugins": [
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "./target/keycloak-event-listener-sns-0.0.2.jar",
                        "label": "jar"
                    }
                ]
            }
        ]
    ]
}
