{
    "branches": [
        "main"
    ],
    "repositoryUrl": "https://github.com/RedFroggy/keycloak-event-listener-sns",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogTitle": "# Keycloak Event listener sns Changelog"
            }
        ],
        "@semantic-release/git",
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "./target/keycloak-event-listener-sns-v*[0-9].*[0-9].*[0-9]-javadoc.jar",
                        "label": "javadoc"
                    },
                    {
                        "path": "./target/keycloak-event-listener-sns-v*[0-9].*[0-9].*[0-9]-sources.jar",
                        "label": "sources"
                    },
                    {
                        "path": "./target/keycloak-event-listener-sns-v*[0-9].*[0-9].*[0-9].jar",
                        "label": "jar"
                    }
                ]
            }
        ]
    ]
}
